* {
  box-sizing: border-box;
}

.App {
  background-color: var(--background);
  transition: all 0.5s;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  color: var(--screen-text);
  display: flex;
  justify-content: space-between;
}
