@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  --background: hsl(0, 0%, 90%);
  --background-secondary: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  --key-background-secondary: hsl(185, 42%, 37%);
  --key-shadow-secondary: hsl(185, 58%, 25%);
  --key-background-equals: hsl(25, 98%, 40%);
  --key-shadow-equals: hsl(25, 99%, 27%);
  --text-primary: hsl(60, 10%, 19%);
  --text-secondary: hsl(0, 0, 100%);
  --screen-text: hsl(60, 10%, 19%);
}

[data-theme='dark']{
  --background: hsl(222, 26%, 31%);
  --background-secondary: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --key-background-secondary: hsl(225, 21%, 49%);
  --key-shadow-secondary: hsl(224, 28%, 35%);
  --key-background-equals: hsl(6, 63%, 50%);
  --key-shadow-equals: hsl(6, 70%, 34%);
  --text-primary: hsl(221, 14%, 31%);
  --text-secondary: hsl(0, 0, 100%);
  --screen-text: white;
}

[data-theme='neon'] {
  --background: hsl(268, 75%, 9%);
  --background-secondary: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  --key-background-secondary: hsl(281, 89%, 26%);
  --key-shadow-secondary: hsl(285, 91%, 52%);
  --key-background-equals: hsl(176, 100%, 44%);
  --key-shadow-equals: hsl(177, 92%, 70%);
  --text-primary: hsl(52, 100%, 62%);
  --text-secondary: hsl(198, 20%, 13%);
  --screen-text: hsl(52, 100%, 62%);
}

body {
  font-size: 32px;
  font-family: 'League Spartan', sans-serif;
}